@import "../../common/Colors.scss";

.phone-list {
  margin: 20px 0px;
  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.phone-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px));
  grid-gap: 15px;
}
